
.navbar ul{
  list-style: none;
  display: flex;
}
.navbar {
  width: 100%;
  display: flex;
  justify-content: flex-end; 
  padding: 10px 20px;
  position: fixed; /* Fix the navbar to the top of the viewport */
  top: 0; /* Ensure the navbar sticks to the top */
  z-index: 2;
  background-color: #26282B; /* Add background color to the navbar */
  padding-right: 100px;
}
.logo-name {
  color: #9290C3;
  position: fixed;
  top: 0;
  left: 1rem;
  margin: 20px; /* Adjust the margin as needed for spacing */
}

.nav-item{
  margin: 0 15px;
}
.nav-item a{
  color: white;
  text-decoration: none;
}
.fa-icon{
  padding-right:5px;
}
.nav-item a::after{
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  background: white;
  transition:width 0.3s ease;
}
.nav-item a:hover::after{
  width: 100%;
} 



