.projects {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    min-height: 82vh;
    background-color: #353941;
    justify-content: space-evenly;
  }
  
  .projects h2 {
    position: relative;
    left: 14em;
    top: 1rem;
    font-size: 3rem;
    color: #ddd;
  }
  
  .projects span {
    color: #b093d6;
  }
  
  .project-card {
    width: 300px;
    height: 300px;
    margin-top: 150px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    position: relative;
    left: -8rem;
    transition: all 0.3s ease; /* Smooth transition for all properties */
    box-shadow: 0px 5px 15px rgba(255, 255, 255, 0.1); /* Subtle white box shadow */
  }
  
  .project-card:hover {
    transform: translateY(-5px); /* Adjust hover effect */
    box-shadow: 0px 10px 20px rgba(255, 255, 255, 0.2); /* Enhance shadow on hover */
  }
  
  .project-card h3 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: #b093d6;
  }
  
  .project-card p {
    margin-bottom: 15px;
    color: #ddd;
  }
  
  .project-card a {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .project-card img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  @media (max-width: 768px) {
    .project-card {
      width: calc(50% - 20px); /* Adjust width for smaller screens */
      margin-top: 50px; /* Adjust margin-top for smaller screens */
      left: auto;
    }
  }
  
  @media (max-width: 480px) {
    .projects h2 {
      left: 0; /* Center h2 for smaller screens */
      text-align: center;
      width: 100%;
    }
  
    .project-card {
      width: calc(100% - 40px); /* Adjust width for even smaller screens */
      margin-top: 50px; /* Adjust margin-top for smaller screens */
      left: auto;
    }
  }
  