.brief-intro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-size: 1.3rem;
    font-family: 'Roboto', sans-serif;
    min-height: 80vh;
  }
  
  .intro {
    color: #b093d6;
  }
  
  .brief-intro-container h1 {
    font-size: 2rem;
  }
  
  .brief-intro-container h1 span {
    font-size: 2.5rem;
  }
  
  /* Media queries for responsiveness */
  
  @media (max-width: 768px) {
    .brief-intro-container {
      padding-top: 20vh; /* Adjust padding for smaller screens */
    }
  
    .brief-intro-container h1 {
      font-size: 1.5rem; /* Adjust heading font-size for smaller screens */
    }
  
    .brief-intro-container h1 span {
      font-size: 2rem; /* Adjust span font-size for smaller screens */
    }
  }
  