.content {
  padding-top: 160px; 
  background-color: #353941; 
  color: aliceblue;
  position:relative;
}

.section11 {
  display: flex;
  flex-direction: column; /* Change flex-direction to column for smaller screens */
  align-items: center; /* Center content horizontally */
}

.typing-effect {
  display: block;
  justify-content: center; 
  min-height: 60vh; 
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  text-align: center; /* Center text horizontally */
  padding: 6rem 1rem; /* Adjust padding for better spacing */
}

.typing-effect .name {
  color: #b093d6;
}

.caret {
  display: inline-block;
  animation: blink 0.7s step-end infinite;
}

@keyframes blink {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

/* Media queries for responsiveness */

@media (min-width: 768px) {
  .section11 {
    flex-direction: row; /* Change flex-direction to row for larger screens */
  }

  .typing-effect {
    padding-left: 12rem; /* Restore padding-left for larger screens */
    text-align: start; /* Reset text-align for larger screens */
    padding-top: 6rem; /* Restore padding-top for larger screens */
  }
}
