 .content {
  padding-top: 160px; 
  background-color: #353941; 
  color: aliceblue;
  position:relative;
}

/*.section11 {
  align-items: center; 
} */
.lottiee{
  position: relative;
  margin-top:-38rem;
  left:20rem;

} 
.typing-effect {

  min-height: 60vh; 
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  position:relative;
  
}

.typing-effect .name {
  color: #b093d6;
}

.caret {
  display: inline-block;
  animation: blink 0.7s step-end infinite;
} 

@keyframes blink {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}



@media (min-width: 768px) {
  .section11 {
    flex-direction: row;
  }

  .typing-effect {
    padding-left: 12rem;
    text-align: start; 
    padding-top: 6rem; 
  }
} 
